<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="ion-padding">

<ion-list>
  <ion-item>
    <ion-label>Surname</ion-label>
    <ion-input [(ngModel)]="this.profileData.surname"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>First Name</ion-label>
    <ion-input [(ngModel)]="this.profileData.firstname"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Other Names</ion-label>
    <ion-input [(ngModel)]="this.profileData.othernames"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Date of Birth</ion-label>
    <ion-datetime [(ngModel)]="this.profileData.date_of_birth"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Mobile Number</ion-label>
    <ion-input type="tel" [(ngModel)]="this.profileData.mobile_number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Whatsapp Number</ion-label>
    <ion-input type="tel" [(ngModel)]="this.profileData.whatsapp_number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Email Address</ion-label>
    <ion-input type="email" [(ngModel)]="this.profileData.email_address"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Profession</ion-label>
    <ion-input type="text" [(ngModel)]="this.profileData.profession"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Company</ion-label>
    <ion-input type="text" [(ngModel)]="this.profileData.company"></ion-input>
  </ion-item>
  <ion-item>
    <!-- <ion-label>Have you ever trained in a gym?</ion-label> -->
    <ion-radio-group value="No" [(ngModel)]="this.profileData.trained_in_gym" >
      <ion-list-header>
      <ion-label>Have you ever trained in a gym?</ion-label>
      </ion-list-header>
      <ion-item>
      <ion-label>Yes</ion-label>
      <ion-radio slot="start" color="success" value="Yes"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>No</ion-label>
      <ion-radio slot="start" color="danger" value="No"></ion-radio>
      </ion-item>
      </ion-radio-group>
  </ion-item>
  <ion-item>
    <ion-label position="floating">What is your fitness goal?</ion-label>
    <ion-textarea [(ngModel)]="this.profileData.fitness_goal"></ion-textarea>
  </ion-item>
</ion-list>


  <ion-button expand="" color="primary" (click)="updateProfile()">Update</ion-button>
  <ion-button expand="" color='danger'>Logout</ion-button>


</ion-content>
