<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    Assessments
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Assessments</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="assessments">
    <ion-card *ngFor="let assessment of this.assessments">
      <ion-card-header>
        <ion-card-title>{{this.assessment.date | date}}</ion-card-title>
      </ion-card-header>
      <ion-item>
        <ion-label position="floating">Instructor</ion-label>
        <ion-input [(ngModel)]="this.assessment.instructor" readOnly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Heart Rate (Before Training)</ion-label>
        <ion-input [(ngModel)]="this.assessment.heartRate" readOnly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Weight (kg)</ion-label>
        <ion-input [(ngModel)]="this.assessment.weight" readOnly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Body-Fat (%)</ion-label>
        <ion-input [(ngModel)]="this.assessment.bodyFat" readOnly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Body-Fat (kg)</ion-label>
        <ion-input [(ngModel)]="this.assessment.bodyFatKg" readOnly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Muscle Mass (%)</ion-label>
        <ion-input [(ngModel)]="this.assessment.muscleMass" readOnly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Resting Metabolism (RM)</ion-label>
        <ion-input [(ngModel)]="this.assessment.restingMetabolism" readOnly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Body Mass Index (BMI)</ion-label>
        <ion-input [(ngModel)]="this.assessment.bmi" readOnly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Visceral Fat</ion-label>
        <ion-input [(ngModel)]="this.assessment.visceralFat" readOnly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Waistline (cm)</ion-label>
        <ion-input [(ngModel)]="this.assessment.waistline" readOnly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Hip (cm)</ion-label>
        <ion-input [(ngModel)]="this.assessment.hips" readOnly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Chest (cm)</ion-label>
        <ion-input [(ngModel)]="this.assessment.chest" readOnly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Right Thigh (cm)</ion-label>
        <ion-input [(ngModel)]="this.assessment.rightThigh" readOnly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Left Thigh (cm)</ion-label>
        <ion-input [(ngModel)]="this.assessment.leftThigh" readOnly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Right Upper Arm (cm)</ion-label>
        <ion-input [(ngModel)]="this.assessment.rightUppperArm" readOnly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Left Upper Arm (cm)</ion-label>
        <ion-input [(ngModel)]="this.assessment.leftUpperArm" readOnly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Waistline for WHR</ion-label>
        <ion-input [(ngModel)]="this.assessment.waistlineWHR" readOnly></ion-input>
      </ion-item>
    </ion-card>
  </ion-list>

  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/add-assessment']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
