<ion-header>
  <ion-toolbar>
    <ion-title>Log Workout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime [(ngModel)]="this.workoutLog.date" [value]="this.workoutLog.date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Time</ion-label>
      <ion-datetime [(ngModel)]="this.workoutLog.startTime" display-format="HH:mm:ss" picker-format="HH:mm" ></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Workout</ion-label>
      <ion-select [(ngModel)]="this.workoutLog.workout">
        <ion-select-option *ngFor="let workoutName of this.workoutNames"  value="{{this.workoutName.name}}">{{this.workoutName.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Weight (kg)</ion-label>
      <ion-input type="number" [(ngModel)]="this.workoutLog.weight" [min]="5"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Repitions</ion-label>
      <ion-input type="number" [(ngModel)]="this.workoutLog.repititions" [min]="1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Sets</ion-label>
      <ion-input type="number" [(ngModel)]="this.workoutLog.sets" [value]="1" [min]="1"></ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-label>EndTime</ion-label>
      <ion-datetime [(ngModel)]="this.workoutLog.endTime" display-format="HH:mm:ss" picker-format="HH:mm"></ion-datetime>
    </ion-item> -->
    <!-- <ion-item>
      <ion-label>Instructor</ion-label>
      <ion-input type="text" [(ngModel)]="this.workoutLog.instructor" ></ion-input>
    </ion-item> -->
    <ion-item>
      <ion-label position="floating">Instructor</ion-label>
      <ion-select [(ngModel)]="this.workoutLog.instructor">
        <ion-select-option *ngFor="let instructor of this.instructorNames"  value="{{this.instructor.firstName}} {{this.instructor.lastName}}">{{this.instructor.firstName + " "+ this.instructor.lastName}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
        <ion-label position="floating">How Difficult was the workout?</ion-label>
          <ion-select [(ngModel)]="this.workoutLog.howDifficult">
            <ion-select-option>Very Easy</ion-select-option>
            <ion-select-option>Easy</ion-select-option>
            <ion-select-option>Normal</ion-select-option>
            <ion-select-option>Difficult</ion-select-option>
            <ion-select-option>Very Difficult</ion-select-option>
          </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Comments</ion-label>
      <ion-textarea [(ngModel)]="this.workoutLog.comments"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-button (click)="addWorkoutLog()">Save</ion-button>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button [routerLink]="['/tabs/tabs/tab2']" color="danger">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
