<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Capacitor Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Capacitor Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand="full" (click)="signIn()" *ngIf="!user" color="danger"><ion-icon name="logo-google" slot="start"></ion-icon>Signin with Google</ion-button>
  <ion-button expand="full" (click)="signOut()" *ngIf="user">Sign out</ion-button>
  <ion-button expand="full" (click)="refresh()" *ngIf="!user">Refresh</ion-button>

  <ion-item *ngIf="user">
    <ion-avatar slot="start">
      <img [src]="user.imageUrl" />
    </ion-avatar>
    <ion-label>
      {{user.givenName }} {{user.familyName}}
      <p>{{user.email}}</p>
    </ion-label>
  </ion-item>

</ion-content>
